body{
    margin: 0;
     background-image: url("images/image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.na{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
  }
  .cardclass {
    display: grid;
    margin-top: 30vh;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px;
  }
  
   .na a{
       text-decoration: none;
       margin-left: 15px;
   }
   #head{
       color: white;
   }
   #head:hover{
       color: white;
   }
   .drop{
    overflow: hidden;
    margin-right: 20px;
  }
  
  .drop .dbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .drop:hover .dbtn {
    background-color: red;
  }
  
  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdowncontent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdowncontent a:hover {
    background-color: #ddd;
  }
  
  .drop:hover .dropdowncontent {
    display: block;
  }

  #intype
  {
    margin-bottom: 25px;
  }
   
  .company{
   width: 40%;
   margin: 10px;
   margin-left: 100px;
  }

  .company2
  {
    width: 100%;

  }
  .card{
      display:flex;
      /* grid-template-columns: repeat(2, 1fr); */
  }
  .company form{
    border-radius: 10px;
    margin-bottom: 15px;
    background: white;
    border: 2px solid black;
    padding: 30px;
  }
  .form-group{
    margin-bottom: 15px;
  }
  

  .butsub
  {
    margin-bottom: 60px;
  }

  textarea
  {
    margin-bottom: 25px;
  }